<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DCAdventureNumber</key>
	<integer></integer>
	<key>DCAdventureURL</key>
	<string>about:blank</string>
	<key>DCAdventureName</key>
	<string></string>
	<key>DCAdventureDismiss</key>
	<string>Dismiss</string>
	<key>DCAdventureAgreement</key>
	<string>Notice: you need to accept this agreement.</string>
	<key>DCAdventureIAgree</key>
	<string>I agree!</string>
</dict>
</plist>
